<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">ЧиталоффЪ</a>
              <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                  </li>         
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Что-то найти?" aria-label="Search">
                  <button class="btn btn-outline-success" type="button">Поиск</button>
                </form>
              </div>
            </div>
          </nav>
          <!--genre-->
         <genre-component :genre-ar="genre"></genre-component>
         <!--sub_genre-->
          </div>
          <script>
            const app = Vue.createApp({
                data(){
                  return{
                    genre:[],
                    subGenre:[]
                  }
                },
                methods:{
                  async getGenre(){
                    const res = await fetch("http://localhost:9001/get-genre")
                    this.genre = await res.json()
                    console.log(this.genre)
                  }
                },
                mounted(){
                  
                  this.getGenre() 
                }
            }).component('genre-component',
            {
              props:['genreAr'],
              template:` <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      
                      <li class="nav-item" v-for="item in genreAr">
                        <a class="nav-link" href="#">{{item.name}}</a>
                      </li>
                              
                    </ul>
                  </div>
                </div>
              </nav>`
              
            }).mount('#app')
        //   app.component('sub-genre',{
        // //     template:` <nav class="navbar navbar-expand-lg navbar-light bg-light">
        // //   <div class="container-fluid">
        // //     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        // //       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        // //         <li class="nav-item">
        // //           <a class="nav-link" href="#">Детектив</a>
        // //         </li>
        // //         <li class="nav-item">
        // //           <a class="nav-link" href="#">Фентези</a>
        // //         </li>
        // //         <li class="nav-item">
        // //           <a class="nav-link" href="#">Фантастика</a>
        // //         </li>         
        // //       </ul>
        // //     </div>
        // //   </div>
        // // </nav>`
        
       
        //   })

          </script>
 
        
    
