<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">ЧиталоффЪ</a>
              <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                  </li>         
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Что-то найти?" aria-label="Search">
                  <button class="btn btn-outline-success" type="button">Поиск</button>
                </form>
              </div>
            </div>
          </nav>
          <!--genre-->
         <genre></genre>
         <!--sub_genre-->
        <sub-genre></sub-genre>
          </div>
          <script>
            const app = Vue.createApp({

            })
            app.component('genre',{
              template:` <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Художественная литература</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Наука. Техника. IT </a>
                      </li>         
                    </ul>
                  </div>
                </div>
              </nav>`
            })
          app.component('sub-genre',{
            template:` <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Детектив</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Фентези</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Фантастика</a>
                </li>         
              </ul>
            </div>
          </div>
        </nav>`
          })
          app.mount('#app')
          </script>
 
        
    
