<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="http://localhost:9001/">ЧиталоффЪ</a>
              <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:9001/buyer/content/get-basket">Корзина</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:9001/buyer/content/get-list-order">Заказы</a>
                  </li> 
                  <%if(typeof user!=="object"){%> 
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:9001/content/get-autoris">Авторизоваться</a>
                    </li>
                  <%}else{%> 
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:9001/content/get-autoris" @click="handlerExit">Выйти</a>
                    </li>
                  <%}%>
                
                    <%if(typeof user!=="object"){%> 
                      <li class="nav-item">
                        <a class="nav-link"><%=user%></a>
                      </li>

                    <%}else{%> 
                      <li class="nav-item">
                        <a class="nav-link"><%=user.email%></a>
                      </li>
                    <%}%> 
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Что-то найти?" aria-label="Search">
                  <button class="btn btn-outline-success" type="button">Поиск</button>
                </form>
              </div>
            </div>
          </nav>
          <!--genre-->
         <genre-component :genre-ar="genre" :handle-click-genre="clickGenre"></genre-component>
         <!--sub_genre-->
         <sub-genre :sub-genre-ar="displaySubGenre"></sub-genre>
          </div>
          <script>
            const app = Vue.createApp({
                data(){
                  return{
                    genre:[],
                    //все поджанры
                    subGenre:[],
                    //Отображаемые поджанры
                    displaySubGenre:[]
                  }
                },
                methods:{
                  async getGenre(){
                    const res = await fetch('http://localhost:9001/json/get-genre')
                    this.genre = await res.json()
                  },
                  async getSubGenre(){
                    const res = await fetch('http://localhost:9001/json/get-subgenre')
                    this.subGenre = await res.json()
                  },
                  async clickGenre(item){
                    this.displaySubGenre = []
                    this.subGenre.forEach(el=>{
                      if(el.genreFk===item.id)
                        this.displaySubGenre.push(el)
                    })
                  },
                  async handlerExit(){
                    const isTrue = confirm("Вы хотите выйти из своей учетной записи?")
                    if(isTrue){
                      const res = await fetch('http://localhost:9001/delete-cookie')
                      if(res.ok)
                        location.reload()
                    }
                    
                      
                  }
                },
                mounted(){
                  this.getSubGenre()
                  this.getGenre() 
                }
            })
            app.component('genre-component',
            {
              props:['genreAr','handleClickGenre'],
              template:` <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      
                      <li class="nav-item" v-for="item in genreAr">
                        <a class="nav-link a-btn" @click="handleClickGenre(item)">{{item.name}}</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </nav>`
              
            })
          app.component('sub-genre',
          {
            props:['subGenreAr','handleClickSubGenre'],
            template:` <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" v-for="item in subGenreAr">
                  <a class="nav-link a-btn" :href="item.reference">{{item.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>`})
       app.mount('#app')
          </script>
 
        
    
