<%- include("../../partials/head") %>
<div class="container" id="bookEditBody">
    <h1 class="mt-2">Редактировать книгу</h1>
    <edit-book :book="book" :subgenre="subgenre" :genre="genre" :current-subgenre="currentSubgenre" 
    :current-genre="currentGenre" :handle-click-genre="handleClickGenre" :handle-clic-subgenre="handleClicSubgenre"
    :current-author="currentAuthor" :authors="authors" :current-img-path="currentImgPath" :hadle-change-img="hadleChangeImg"></edit-book>
</div>
<script>
    const bookEditBody = Vue.createApp({
        data(){
            return{
                book:new Object(),
                idBook:0,
                genre:[],
                subgenre:[],
                authors:[],
                currentGenre:new Object(),
                currentSubgenre:new Object(),
                currentAuthor:new Object(),
                currentImgPath:new String()
            }
        },
        methods:{
            //Методы получения данных
            async getBookForEdit(){
                this.idBook = new URL(location.href).searchParams.get('id')
                const res = await fetch(`http://localhost:9001/sotrudnik/json/get-edit-book/${this.idBook}`)
                if(res.ok){
                    this.book = await res.json()
                }
            },
            async getCurrentSubgenreGenre(){
                const res = await fetch(`http://localhost:9001/sotrudnik/json/get-current-edit-book-genre-subgenre/${this.idBook}`)
                if(res.ok){
                    const buffer = await res.json()
                    this.currentGenre = await buffer.genre
                    this.currentSubgenre = await buffer.subgenre
                }
            },
            async getGenreSubGenre(){
                const res = await fetch(`http://localhost:9001/sotrudnik/json/get-edit-book-genre-subgenre`)
                if(res.ok){
                    const buffer = await res.json()
                    this.genre = await buffer.genre
                    this.subgenre = await buffer.subgenre
                }
            },
            async getAuthor(){
                const res = await fetch(`http://localhost:9001/sotrudnik/json/get-current-author/${this.idBook}`)
                if(res.ok){
                    this.currentAuthor = await res.json()
                    console.log(this.currentAuthor)
                }
            },
            async getAllAuthors(){
                const res = await fetch(`http://localhost:9001/sotrudnik/json/get-all-authors`)
                if(res.ok){
                    this.authors = await res.json()
                    console.log(this.authors)
                }
            },
            async getImgPath(){
                this.currentImgPath = 'http://localhost:9001/get-image/'+this.idBook+'.jpg'
            },
            //Возврат
            backHandle(){
                location.href='http://localhost:9001/sotrudnik/content/get-book-list'
            },
            //Обработчики
            handleClickGenre(elem){
                this.currentGenre = elem
                this.currentSubgenre = new Object()
                this.currentSubgenre.name = "Выберите поджанр"
            },
            handleClicSubgenre(elem){
                this.currentSubgenre = elem
            },
            hadleChangeImg(el){
                this.currentImgPath = URL.createObjectURL(el.target.files[0])
            }
        },
        mounted(){
            this.getBookForEdit()
            this.getCurrentSubgenreGenre()
            this.getGenreSubGenre()
            this.getAuthor()
            this.getAllAuthors()
            this.getImgPath()
        }
    })
    bookEditBody.component('edit-book',{
        props:['book','subgenre', 'genre','currentSubgenre','currentGenre',
        'handleClickGenre','handleClicSubgenre','authors','currentAuthor','currentImgPath','hadleChangeImg'],
        template:`   <div class="row mt-4">
        <div class="col-2">
            <svg style="cursor: pointer;" @click="backHandle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="blue" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
        </div>
        <div class="col">
            <!-- <img   height="138"  src="http://localhost:9001/get-image/2.jpg"> -->
            <div class="mt-4">
                <label for="exampleFormControlTextarea1" class="form-label">Название</label>
                <input class="form-control me-2" id="exampleFormControlTextarea1" type="search" placeholder="" aria-label="Search" v-model="book.name">
            </div>
            <div class="mt-4">
                <label for="exampleFormControlTextarea2" class="form-label">Описание</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" v-model="book.discription"></textarea>
            </div>
            
        </div>
        <div class="col">
            <div class="row  mt-2">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle w-100"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          {{currentAuthor.authorName+" "+currentAuthor.lastname}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li v-for="item in authors"><a class="dropdown-item" href="#">{{item.authorName +" "+item.lastname}}</a></li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="row  mt-2">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          {{currentGenre.name}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li v-for="item in genre"><a class="dropdown-item" href="#" @click="handleClickGenre(item)">{{item.name}}</a></li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="row  mt-2">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          {{currentSubgenre.name}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li v-for="item in subgenre"><a class="dropdown-item" href="#" v-if="item.genreFk===currentGenre.id" @click="handleClicSubgenre(item)" >{{item.name}}</a></li>
                        </ul>
                      </div>
                </div>
            </div>
            <div class="row  mt-2">
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Скидка</label>
                    <input class="form-control me-2" id="exampleFormControlTextarea1" type="search" placeholder="" aria-label="Search" v-model="book.discount">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-2">
            </div>
            <div class="col-5">
                <img   height="250"  :src="currentImgPath">
            </div>
            <div class="col-2 ms-4">
                <button type="button" class="btn btn-success">Сохранить</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
            </div>
            <div class="col-8">
                <label for="formFile" class="form-label">Обложка</label>
                <input class="form-control" type="file" id="formFile" @change="hadleChangeImg" accept=".jpg, jpeg">
            </div>
            
        </div>
    </div>`
    })
    bookEditBody.mount('#bookEditBody')
</script>