<%- include("../../partials/head") %>
<body>
    <div class="d-flex align-items-start mt-3 ms-3" id="listBookBody">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active mt-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Книги</button>
          <button class="nav-link mt-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Жанры</button>
          <button class="nav-link mt-2" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Авторы</button>
          <button class="nav-link mt-2" id="v-pills-orders-tab" data-bs-toggle="pill" data-bs-target="#v-pills-orders" type="button" role="tab" aria-controls="v-pills-orders" aria-selected="false">Заказы</button>

        </div>
        <div class="tab-content flex-grow-1" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <!--Книги-->
            <div class="container">
              <div class="row">
                  <div class="col">
                      <input class="form-control me-2" v-model="search">
                  </div>      
                  <div class="col">
                      <button class="btn btn-outline-success" @click="handlerSearch">Поиск</button>
                      <button class="btn btn-danger ms-3" type="button" @click="handlerReset">Сброс</button>
                  </div>
              </div>
          </div>
           <list-books :books="listBook" :click-book-handler="clickBookHandler" 
           :handler-click-new-book="handlerClickNewBook" ></list-books>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <!--Жанры-->
            <div class="container">
              <div class="row">
                  <div class="col">
                      <input class="form-control me-2" v-model="search">
                  </div>      
                  <div class="col">
                      <button class="btn btn-outline-success" @click="handlerSearchGenre">Поиск</button>
                      <button class="btn btn-danger ms-3" type="button" @click="handlerResetGenre">Сброс</button>
                  </div>
              </div>
            </div>
            <list-genre :handle-click-edit-genre="handleClickEditGenre" :list-genre="listGenre" :handler-click-new-genre="handlerClickNewGenre" :handler-click-search=""></list-genre>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <!--Авторы-->
            <div class="container">
              <div class="row">
                  <div class="col">
                      <input class="form-control me-2" v-model="search">
                  </div>      
                  <div class="col">
                      <button class="btn btn-outline-success" @click="handlerSearchGenre">Поиск</button>
                      <button class="btn btn-danger ms-3" type="button" @click="handlerResetGenre">Сброс</button>
                  </div>
              </div>
            </div>
            <list-author :list-author="listAuthor"></list-author>
          </div>
          <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
            <div class="container">
              <div class="row">
                  <div class="col">
                      <input class="form-control me-2" type="search" placeholder="Книга, автор, жанр и тд." aria-label="Search">
                  </div>      
                  <div class="col">
                      <button class="btn btn-outline-success" type="submit">Поиск</button>
                      <button class="btn btn-danger ms-3" type="button">Сброс</button>
                  </div>
              </div>
          </div> 
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">ID Заказа</th>
                      <th scope="col">Адрес доставки</th>
                      <th scope="col">Статус</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <th scope="row">1111</th>
                    <td>г. Орск, Ленина 40</td>
                    <td>В обработке</td>
                  </tr>
                </tbody>
          </table>
          </div>
          </div>
    </div>
      <script>
        const listBookBody = Vue.createApp({
          data(){
            return{
              listBook:[],
              searchList:[],
              listBuffer:[],
              search:"",
              listGenre:[],
              listAuthor:[]
              
            }
          },
          methods:{
            //Получение книг
            async getListBook(){
              const res = await fetch('http://localhost:9001/sotrudnik/json/get-all-books')
              this.listBook = await res.json()
            },
            //Получение жанров и поджанров
            async getListGenre(){ 
              const res = await fetch('http://localhost:9001/sotrudnik/json/get-all-genre')
              this.listGenre = await res.json()
              console.log(this.listGenre)
            }, 
            clickBookHandler(item){
              location.href=`http://localhost:9001/sotrudnik/content/get-edit-book?id=${item.id}`
            },
            handlerClickNewBook(){
              location.href = 'http://localhost:9001/sotrudnik/content/get-new-book'
            },
            handlerSearch(){      
              if(this.searchList.length>0)
                this.listBook = this.listBuffer
              this.searchList = []  
              this.listBook.forEach(book=>{
                
                const values = Object.values(book)
                let isFind = false
                values.forEach(value=>{
                  if(Array.isArray(value)){
                    if(value.length>0){
                      value.forEach(itemAr=>{
                        if(itemAr.name.includes(this.search)&&!isFind){
                          this.searchList.push(book)
                          isFind = true
                        }
                      })
                    }
                  }else{
                    value = String(value)
                    if(value.includes(this.search)&&!isFind){
                      this.searchList.push(book)
                    }
                  }
                })
              })
              this.listBuffer = this.listBook
              this.listBook = this.searchList
            },
            handlerReset(){
              location.reload()
            },
            handlerClickNewGenre(item){
              location.href = `http://localhost:9001/sotrudnik/content/get-new-genre?id=${item.id}`
            },
            handleClickEditGenre(item){
              location.href = `http://localhost:9001/sotrudnik/content/get-edit-genre?id=${item.id}`
            },
            handlerSearchGenre(){

            },
            handlerResetGenre(){

            },
            async getListAuthor(){
              const res = await fetch('http://localhost:9001/sotrudnik/json/get-all-author')
              if(res.ok){
                this.listAuthor = await res.json()
                console.log(this.listAuthor)
              }
            }
          },
          mounted(){
            this.getListBook()
            this.getListGenre()
            this.getListAuthor()
          }
        })
        listBookBody.component('list-books',{
          props:['books','clickBookHandler', 'handlerClickNewBook'],
          template:`
          
            <button type="button" @click="handlerClickNewBook" class="btn btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg></button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID Книги</th>
                        <th scope="col">Название</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Жанр</th>
                        <th scope="col">Поджанр</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Скидка</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer;">
                    <tr v-for="item in books" @click="clickBookHandler(item)">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.authorName+" "+item.lastname}}</td>
                      <td>{{item.genreName}}</td>
                      <td>
                        <template v-for="subItem in item.subgenre">
                          {{subItem.name+" "}}
                        </template>
                      </td>
                      <td>{{item.price+"₽"}}</td>
                      <template v-if="item.discount">
                        <td>{{item.discount+"%"}}</td>
                      </template>
                      <template v-else>
                        <td> </td>
                      </template>
                    </tr>
                  </tbody>
            </table>
          `
        })
        listBookBody.component('list-genre',{
          props:['listGenre','handlerClickNewGenre','listGenre','handlerClickSearch','handleClickEditGenre'],
          template:`
            <button type="button" @click="handlerClickNewGenre" class="btn btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg></button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Жанр</th>
                        <th scope="col">Поджанры</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer;">
                    <tr v-for="item in listGenre" @click="handleClickEditGenre(item.genre)">
                      <template v-if="item.listSub.length>0">
                        <td>{{item.genre.name}}</td>
                        <td>
                          <template v-for="subItem in item.listSub">
                            {{subItem.name+" "}}
                          </template>
                        </td>
                      </template>
                    </tr>
                  </tbody>
            </table>
          `
        })
        listBookBody.component('list-author',{
          props:['listAuthor'],
          template:`
          <button type="button" @click="handlerClickNewGenre" class="btn btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg></button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer;">
                    <tr v-for="item in listAuthor" @click="handleClickEditAuthor(item)">
                      <template v-if="listAuthor.length>0">
                        <td>{{item.authorName}}</td>
                        <td>{{item.lastname}}</td>
                      </template>
                    </tr>
                  </tbody>
            </table>
          `
        })
        listBookBody.mount('#listBookBody')
      </script>
</body>
</html>
