<%- include("../../partials/head") %>
<div class="container" id="bodyEditOrder">
    <h1 class="mt-3">Состав заказа #{{order.id}}</h1>

    <div class="row">
        <div class="col-7">
            <svg style="cursor: pointer;" @click="handlerBack" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="blue" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" @click="handlerClickUpdate">Обновить статус заказа</button>
        </div>
        <div class="col">
            <div class="btn-group">
                <button type="button"  class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{order.status}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" @click="handleChangeStatus">в пути</a></li>
                    <li><a class="dropdown-item" href="#"  @click="handleChangeStatus">отменен</a></li>
                    <li><a class="dropdown-item" href="#"  @click="handleChangeStatus">в обработке</a></li>
                </ul>
            </div>
        </div>
    </div>
    <order-table :order-table="orderTable" ></order-table>
</div>
<script>
    const bodyEditOrder = Vue.createApp({
        data(){
            return{
                orderTable:[],
                idOrder:0,
                order:new Object()
            }
        },
        methods:{
            async getOrder(){
                this.idOrder = new URL(location.href).searchParams.get('id')
                const res = await fetch('http://localhost:9001/sotrudnik/json/get-change-order/'+this.idOrder)
                if(res.ok){
                    const buffer = await res.json()
                    console.log(buffer)
                    this.order = buffer.order
                    this.orderTable = buffer.books
                }
            },
            async handlerClickUpdate(){
                if(confirm("Вы уверены что хотите обновить статус заказа?")){
                    const res = await fetch('http://localhost:9001/sotrudnik/save/post-status-order',{
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify(this.order),
                        method:'POST'
                    })
                    if(res.ok){
                        alert('Статус обновлен!')
                        location.href = 'http://localhost:9001/sotrudnik/content/get-book-list'
                    }
                }

            },
            handleChangeStatus(el){
                console.log(el)
                this.order.status = el.target.lastChild.data
            },
            handlerBack()
            {
                location.href = 'http://localhost:9001/sotrudnik/content/get-book-list'
            }
        },
        mounted(){
            this.getOrder()
        }
    })
    bodyEditOrder.component('order-table',{
        props:['orderTable'],
        template:`
                <div class="row">
        <div class="col">
            <div class="col">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">
                                ID книги
                            </th>
                            <th scope="col">
                                Название
                            </th>
                            <th scope="col">
                                ISBN
                            </th>
                            <th scope="col">
                                Обложка
                            </th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in orderTable">
                            <th scope="col">
                                {{item.id}}
                            </th>
                            <th>
                               {{item.name}}
                            </th>
                            <th scope="col">
                                {{item.isbn}}
                            </th>
                            <th>
                                <img   height="50"  :src="'http://localhost:9001/get-image/'+item.id+'.jpg'">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        `
    })
    bodyEditOrder.mount('#bodyEditOrder')
</script>