<%-include("../partials/head")%>
<%-include("../partials/header")%>
<div class="container content ">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col">
            <h1>Авторизация</h1>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">

        </div>
        <div class="col-4">
            <form class="mb-3">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Почта</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Пароль</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Авторизоваться</button>
            </form>
            <a href="#" class="link-primary">Регистрация</a>
        </div>
    </div>
</div>
<%-include("../partials/footer")%> 