<%-include("../partials/head")%>
<%-include("../partials/header")%>
    <div class="container content" id="bookBody">
        <book :element-book="book" :element-review="review" 
        :handler-buy="handlerBuy" :handler-send-review="handlerSendReview"
        :review-send="reviewSend" 
        :handler-gen-change="handlerGenChange" :handler-dis-change="handlerDisChange"
        :handler-adv-change="handlerAdvChange"></book>
    </div>
    <script>
        const bookBody = Vue.createApp({
            data(){
                return{
                    book:new Object(),
                    review:[],
                    reviewSend:{
                        generalReview:"",
                        disReview:"",
                        advReview:""
                    }
                }
                
            },
            methods:{
                async getBook(){
                    let url = location.href
                    let newUrl = url.replace(/\/content\/get-book\//, "/json/get-book/");
                    const res = await fetch(newUrl)
                    if(res.ok){
                        this.book = await res.json()
                        this.review = this.book.arReview
                    }
                    
                },
                async handlerBuy(el){
                  
                    const res = await fetch('http://localhost:9001/buyer/save/add-book-in-basket',{
                        headers:{
                            'Content-Type':'application/json'
                        },
                        method:'POST',
                        body:JSON.stringify(this.book)
                    })
                    if(res.ok){
                        el.target.classList.remove('btn-primary')
                        el.target.classList.add('btn-success')
                        el.target.innerText = "В корзине"
                        alert("Товар добавлен в корзину!")
                    }
                    else{
                        alert("Авторизируйтесь для добалвения товара к корзину")
                    }
                },
                async handlerSendReview(){
                    this.reviewSend.idBook = this.book.id
                    const res =  await fetch('http://localhost:9001/buyer/save/review',{
                        headers:{
                            'Content-Type':'application/json'
                        },
                        method:'POST',
                        body:JSON.stringify(this.reviewSend)
                    })
                    if(res.ok){
                        alert('Ваш отзыв отправлен на модерацию')
                        location.reload()
                    }
                },
                handlerGenChange(el){
                    this.reviewSend.generalReview = el.target.value
                },
                handlerDisChange(el){
                    this.reviewSend.disReview = el.target.value

                },
                handlerAdvChange(el){
                    this.reviewSend.advReview = el.target.value
                }
            },
            mounted(){
                this.getBook()

            }
        })
        bookBody.component('book',{
            props:['elementBook','elementReview','handlerBuy',
            'handlerSendReview','reviewSend','handlerGenChange',
            'handlerDisChange','handlerAdvChange'],
            template:`
            <div class="row">
                <div class="col fs-3">
                    {{elementBook.name}}
                </div>
            </div>
            <div class="row">
                <div class="col fs-8">
                    Петр Васильев<!--Автора пока нет-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                    <img w-100 width="304" height="438" :src="'http://localhost:9001/get-image/'+elementBook.id+'.jpg'">
                </div>
                <div class="col">
                    <!--В этой колонке характеристики книги-->
                    <div class="row">
                        <div class="col">
                            Издательство
                        </div>
                        <div class="col">
                            Эксмодетство<!--Здесь будет издательство-->
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Серия
                        </div>
                        <div class="col">
                            Книги по мультфильмам <!--Здесь будет серия-->
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Год издания
                        </div>
                        <div class="col">
                            {{elementBook.yearPublishing}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            ISBN
                        </div>
                        <div class="col">
                            {{elementBook.isbn}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Количество страниц
                        </div>
                        <div class="col">
                            {{elementBook.countPages}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Размер
                        </div>
                        <div class="col">
                            {{elementBook.height}}x{{elementBook.width}}x{{elementBook.bookLength}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Тираж
                        </div>
                        <div class="col">
                            {{elementBook.count}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Вес, г
                        </div>
                        <div class="col">
                            {{elementBook.weigth}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            Возрастные ограничения
                        </div>
                        <div class="col">
                            {{elementBook.ageRestrictions}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col fs-4" v-if="elementBook.discount!==null">   
                            <del>{{elementBook.price+"₽"}}</del> <b>{{Math.floor(elementBook.price-elementBook.price*(elementBook.discount/100))+"₽"}}</b>
                        </div> 
                        <div class="col fs-4" v-else>
                            
                            <b>{{elementBook.price+"₽"}}</b>
                        </div>          
                    </div>
                    <div class="row mt-3">
                        <div class="col-10">
                            <button type="button" class="align-self-end mt-auto btn btn-primary w-100 h-100" @click="handlerBuy">Купить</button>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8 fs-8">
                    {{elementBook.discription}}
                </div>
            </div>
            <!--Окно создания отзыва--> 
             <div class="row mt-2">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Общий отзыв</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" :value="reviewSend.generalReview" @change="handlerGenChange"></textarea>
                </div>
                 <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Минусы</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" :value="reviewSend.disReview" @change="handlerDisChange"></textarea>
                </div>
                 <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Плюсы</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" :value="reviewSend.advReview"  @change="handlerAdvChange"></textarea>
                </div>
                 <div class="mb-3">
                    <button type="button" class="align-self-end mt-auto btn btn-success w-100 h-100" @click="handlerSendReview">Отправить отзыв</button>  
                </div>
            </div>  

            <div class="row mt-3">
                <div class="col-8 fs-3">
                    Отзывы
                </div>
            </div>        
            <!--Отзывы-->
            <div class="row mt-4" v-for="item in elementReview" style="background-color:#e8e8e8">
                <template  v-if="item.status==='одобрено'">
                    <div class="row mt-2">
                    <div class="col-8 fs-10 fw-light">
                        {{item.name}}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-8 fs-8">
                        {{item.generalReview}}
                    </div>
                </div>
                <div class="row mt-2" v-if="item.advReview!==null">
                    <div class="col-6">
                        <div class="row mt-1">
                            <div class="col-6  fw-bold">
                                Плюсы
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-8  ">
                                {{item.advReview}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" v-if="item.disReview!==null">
                    <div class="col-6">
                        <div class="row mt-1">
                            <div class="col-6  fw-bold">
                                Минусы
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-8  ">
                                {{item.disReview}}
                            </div>
                        </div>
                    </div>
                </div>
                </template>
                
            </div>
            `
        })
        bookBody.mount('#bookBody')
    </script>
<%-include("../partials/footer")%> 