<%-include("../partials/head")%>
<body>
    <div class="container">
        <div class="row fs-1">
            ЧиталоффЪ
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-5">
                <h2>Оплата заказа №1111</h2>
                <form>
                    <div class="row gy-3">
                      
              
                      <div class="col-md-6">
                        <label for="cc-number" class="form-label">Номер кредитной карты</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" required="">
                        <div class="invalid-feedback">
                          Требуется номер кредитной карты
                        </div>
                      </div>
              
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Срок действия</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="2000" required="">
                            <div class="invalid-feedback">
                              Требуется срок действия
                            </div>
                          </div>
                  
                          <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="123" required="">
                            <div class="invalid-feedback">
                              Требуется защитный код
                            </div>
                          </div>
                    </div>
                    <hr class="my-4 w-50">
                    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Оплатить</button>
                  </form>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <svg version="1.1" id="Layer_1"  x="0px" y="0px"
                    viewBox="0 0 152.4 108" style="enable-background:new 0 0 152.4 108;" xml:space="preserve">
                    <style type="text/css">
                        .st0{fill:none;}
                        .st1{fill:#FF5F00;}
                        .st2{fill:#EB001B;}
                        .st3{fill:#F79E1B;}
                    </style>
                    <g>
                        <rect y="0" class="st0" width="152.4" height="108"/>
                        <g>
                            <rect x="60.4" y="25.7" class="st1" width="31.5" height="56.6"/>
                            <path class="st2" d="M62.4,54c0-11,5.1-21.5,13.7-28.3c-15.6-12.3-38.3-9.6-50.6,6.1C13.3,47.4,16,70,31.7,82.3
                                c13.1,10.3,31.4,10.3,44.5,0C67.5,75.5,62.4,65,62.4,54z"/>
                            <path class="st3" d="M134.4,54c0,19.9-16.1,36-36,36c-8.1,0-15.9-2.7-22.2-7.7c15.6-12.3,18.3-34.9,6-50.6c-1.8-2.2-3.8-4.3-6-6
                                c15.6-12.3,38.3-9.6,50.5,6.1C131.7,38.1,134.4,45.9,134.4,54z"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-2">
                <svg
                    viewBox="0 0 188.97333 188.97333"
                    height="188.97333"
                    width="188.97333"
                    xml:space="preserve"
                    id="svg2"
                    version="1.1"><metadata
                        id="metadata8"><rdf:RDF><cc:Work
                            rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs
                        id="defs6" /><g
                        transform="matrix(1.3333333,0,0,-1.3333333,0,188.97333)"
                        id="g10"><g
                        transform="scale(0.1)"
                        id="g12"><path
                            id="path14"
                            style="fill:#1c63b7;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="M 629.348,521.605 H 532.02 l 60.832,373.848 h 97.336 l -60.84,-373.848" /><path
                            id="path16"
                            style="fill:#1c63b7;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="m 450.137,895.453 -92.793,-257.129 -10.977,55.371 0.012,-0.019 -32.758,168.105 c 0,0 -3.953,33.672 -46.172,33.672 H 114.063 l -1.797,-6.324 c 0,0 46.922,-9.758 101.804,-42.746 L 298.633,521.605 H 400.039 L 554.895,895.453 H 450.137" /><path
                            id="path18"
                            style="fill:#1c63b7;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="m 1108.59,653.852 51.15,139.906 28.77,-139.906 z m 107.1,-132.247 h 89.37 l -77.92,373.848 h -78.25 c -36.14,0 -44.93,-27.859 -44.93,-27.859 L 958.809,521.605 h 101.441 l 20.3,55.528 h 123.73 l 11.41,-55.528" /><path
                            id="path20"
                            style="fill:#1c63b7;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="m 966.418,805.551 13.887,80.293 c 0,0 -42.864,16.301 -87.539,16.301 -48.301,0 -163,-21.125 -163,-123.762 0,-96.59 134.621,-97.793 134.621,-148.504 0,-50.715 -120.742,-41.652 -160.586,-9.66 l -14.485,-83.922 c 0,0 43.457,-21.125 109.872,-21.125 66.41,0 166.625,34.402 166.625,127.988 0,97.195 -135.833,106.25 -135.833,148.504 0,42.266 94.786,36.84 136.438,13.887" /><path
                            id="path22"
                            style="fill:#f89c22;fill-opacity:1;fill-rule:nonzero;stroke:none"
                            d="m 346.379,693.676 -32.758,168.105 c 0,0 -3.953,33.672 -46.172,33.672 H 114.063 l -1.797,-6.324 c 0,0 73.73,-15.285 144.464,-72.531 67.594,-54.715 89.649,-122.922 89.649,-122.922" /></g></g></svg>
            </div>
            <div class="col-2">
   
            </div>
        </div>
    </div>
</body>
</html>

