<%-include("../partials/head")%>
<%-include("../partials/header")%>
  
  <div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore facere assumenda soluta tempore similique expedita, alias itaque obcaecati corrupti eligendi magnam animi facilis, ut aliquam et ratione explicabo quas nam suscipit maiores nihil molestias incidunt. Nemo saepe ut ipsa odit, assumenda officiis asperiores quibusdam facilis dolore voluptates quasi neque blanditiis voluptate, facere aut illum! Ex, assumenda adipisci! Earum obcaecati hic corrupti sed ducimus possimus praesentium temporibus molestiae. Totam, ab suscipit iste dolor neque ex, id ipsam voluptas rerum qui nihil doloremque odio possimus nemo. Optio nam asperiores veniam porro repudiandae? Harum quis molestiae dolor at aperiam consectetur nobis fugiat omnis!
  </div>

  <div id="app" style="position: absolute; top: 50px;">
    <ul class="list-group" >
      <li class="list-group-item dropend ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Художественная литература
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Детектив</a></li>
          <li><a class="dropdown-item" href="#">Фантастика</a></li>
          <li><a class="dropdown-item" href="#">Фентези</a></li>
        </ul>
      </li>
      <li class="list-group-item">Второй элемент</li>
      <li class="list-group-item">Третий элемент</li>
      <li class="list-group-item">Четвертый элемент</li>
      <li class="list-group-item">И пятый</li>
    </ul>
  </div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    Vue.createApp({
        methods:{
            cl(){
                alert("dfsd")
            }
        }
    }).mount('#app')
</script>

<%-include("../partials/footer")%>