<%-include("../partials/head")%>
<%-include("../partials/header")%>
  
  <div class="container" id="indexBody">
    
    <new-book-row :new-book="newBookRow"></new-book-row>
  </div>
  <script>
    const indexApp = Vue.createApp({
        data(){
          return{
            newBookRow:[]
          }
        },
        methods:{
          async getNewBookRow(){
            const res = await fetch('http://localhost:9001/json/get-new-book-row')
            if(res.ok){
              this.newBookRow = await res.json()
              console.log(this.newBookRow)
            }

          }
        },
        mounted(){
          this.getNewBookRow()
        }
    })
    indexApp.component('new-book-row',{
      props:['newBook'],
      template:`
      <div class="row">

      <div class="col" style="border: 2px solid black;" v-for="item in newBook">
        <div>
          
        </div>
        {{item.name}}
      </div>
    </div>
      `
    })
    indexApp.mount('#indexBody')
  </script>

  

<%-include("../partials/footer")%> 