<%-include("../partials/head")%>
<%-include("../partials/header")%>
  
  <div class="container content" id="indexBody">
    <h2>Новинки</h2>
    <new-book-row :new-book="newBookRow" :handler-buy="handlerBuy"></new-book-row>
  </div>
  <script>
    const indexApp = Vue.createApp({
        data(){
          return{
            newBookRow:[]
          }
        },
        methods:{
          async getNewBookRow(){
            const res = await fetch('http://localhost:9001/json/get-new-book-row')
            if(res.ok){
              this.newBookRow = await res.json()
              console.log(this.newBookRow)
            }
          },
          async handlerBuy(item){
            location.href = 'http://localhost:9001/content/get-book/'+item.id           
          }
        },
        mounted(){
          this.getNewBookRow()
        }
    })
    indexApp.component('new-book-row',{
      props:['newBook','handlerBuy'],
      template:`
      <div class="row">

      <div class="d-flex flex-column col-2"  v-for="item in newBook">
        <img class="w-100"  height="280"  :src="'http://localhost:9001/get-image/'+item.id+'.jpg'">
        <div v-if="item.discount!==null" class="fw-bold fs-4">
          {{Math.floor(item.price-item.price*(item.discount/100))+"₽"}}<del class="mx-2">{{item.price+"₽"}}</del>
        </div>
        <div v-else class="fw-bold fs-4">
          {{item.price+"₽"}}
        </div>
        <div class="fs-6">
          {{item.name}}
        </div>
        <div class="fs-8 fw-light">
          {{item.authorName +' ' +item.lastname}}
        </div>
          <button type="button" class="align-self-end mt-auto btn btn-primary w-100" @click="handlerBuy(item)">Купить</button>  
      </div>
    </div>
      `
    })

    indexApp.mount('#indexBody')
  </script>

  

<%-include("../partials/footer")%> 