<%-include("../partials/head")%>
<%-include("../partials/header")%>
  
  <div class="container" id="indexBody">
    
    <new-book-row :new-book="newBookRow"></new-book-row>
  </div>
  <script>
    const indexApp = Vue.createApp({
        data(){
          return{
            newBookRow:[]
          }
        },
        methods:{
          async getNewBookRow(){
            const res = await fetch('http://localhost:9001/json/get-new-book-row')
            if(res.ok){
              this.newBookRow = await res.json()
              console.log(this.newBookRow)
            }

          }
        },
        mounted(){
          this.getNewBookRow()
        }
    })
    indexApp.component('new-book-row',{
      props:['newBook'],
      template:`
      <div class="row">

      <div class="d-flex flex-column col"  v-for="item in newBook">
        <img class="w-100"  height="280"  :src="'http://localhost:9001/images/'+item.id+'.jpg'">
        <div v-if="item.discountFk!==null" class="fw-bold fs-4">
          {{item.discountFk+"₽"}}<del class="mx-2">{{item.price+"₽"}}</del>
        </div>
        <div v-else class="fw-bold fs-4">
          {{item.price+"₽"}}
        </div>
        <div class="fs-6">
          {{item.name}}
        </div>
        <div class="fs-8 fw-light">
          Пока нет
        </div>
          <button type="button" class="align-self-end mt-auto btn btn-primary w-100" >Купить</button>  
      </div>
    </div>
      `
    })
    indexApp.mount('#indexBody')
  </script>

  

<%-include("../partials/footer")%> 