<%-include("../partials/head")%>
<%-include("../partials/header")%>
<div class="container content ">
    <h1 class="mb-4">Заказы</h1>
    <div class="row" style="background-color:#e6f0f7">
        <div class="row pt-2">
            <div class="col-10">
                <h3>Зазказ №1111 от 26.05.2024</h3>
                <div class="fw-ligh fs-8 mt-3">
                    Ожидаемая дата доставки: 27.05.2024
                </div>
                <div class="m">
                    Оплата картой на сайте
                </div>
                <div class="">
                    Орск ул. Ленина 40
                </div>
            </div>
            <div class="col-1">
                <div class="status drive">
                    В пути
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-10 mx-3">
                <img   height="80"  src="http://localhost:9001/get-image/2.jpg">
            </div>
          
        </div>
        <div class="row mt-4 pb-2">
            <div class="col">
                <button type="button" class="btn btn-outline-danger">Отменить</button>
            </div>
        </div>
       
    </div>
</div>
<%-include("../partials/footer")%> 