<%-include("../partials/head")%>
<%-include("../partials/header")%>

<div class="container content" id="bodySerchThisS">
    <h2>Результаты поиска</h2>
    
    <div class="row">
        <list-search :list-search="listSearch" :handler-buy="handlerBuy"></list-search>

    </div>
    
       
</div>
</div>
<script>
    const bodySerchThisS = Vue.createApp({
        data(){
            return{
                listSearch:new Object(),
                search:""
            }
        },
        methods:{
            async getSerahinBooks(){
                this.search = new URL(location.href).searchParams.get('search')
                const res = await fetch('http://localhost:9001/buyer/json/get-search/'+this.search)
                if(res.ok){
                    
                    this.listSearch = await res.json()
                }
            },
            handlerBuy(item){
                location.href = 'http://localhost:9001/content/get-book/'+item.id           
            }
        },
        mounted(){
            this.getSerahinBooks()
        }
    })
    bodySerchThisS.component('list-search',{
        props:['listSearch','handlerBuy'],
        template:`
         <div class="d-flex flex-column col-2"  v-for="item in listSearch">
            <img class="w-100"  height="280"  :src="'http://localhost:9001/get-image/'+item.id+'.jpg'">
            <div v-if="item.discount!==null" class="fw-bold fs-4">
                {{Math.floor(item.price-item.price*(item.discount/100))+"₽"}}<del class="mx-2">{{item.price+"₽"}}</del>
            </div>
          
            <div class="fs-6">
                {{item.name}}
            </div>
            <div class="fs-8 fw-light">
                {{item.authorName +' ' +item.lastname}}
            </div>
              <button type="button" class="align-self-end mt-auto btn btn-primary w-100" @click="handlerBuy(item)">Купить</button>  
          </div>  

        `
    })
    bodySerchThisS.mount('#bodySerchThisS')
</script>
<%-include("../partials/footer")%> 