<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
    <a href="http://localhost:9001/content/get-search">Поиск</a>
    <a href="http://localhost:9001/content/get-basket">Корзина</a>
    <a href="http://localhost:9001/content/get-placing-order">Оформление закза</a>
    <a href="http://localhost:9001/content/get-pay-form">Форма оплаты</a>
    <a href="http://localhost:9001/content/get-autoris">Авторизация</a>
    <a href="http://localhost:9001/content/get-registr">Регистрация</a>
    <a href="http://localhost:9001/content/get-list-order">Заказы</a>
    <a href="http://localhost:9001/sotrudnik/content/get-book-list">Панель сотрудника</a>
    <a href="http://localhost:9001/sotrudnik/content/get-edit-book">Изменение книги</a>
    <a href="http://localhost:9001/admin/content/get-user-list">Панель администратора</a>
    <a href="http://localhost:9001/admin/content/get-user-edit">Изменение пользователя</a>
    <a href="http://localhost:9001/admin/content/get-edit-comment">Модерация комментария</a>
    <a href="http://localhost:9001/sotrudnik/content/get-order">Страница сбора заказа</a>

</body>
</html>